:root {
  overscroll-behavior: none;
  --font-family: "Nunito Sans", sans-serif;
  --header-height: 4rem;

  --max-page-width: 120rem;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-family), serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
