:root {
  overscroll-behavior: none;
  --font-family: "Nunito Sans", sans-serif;
  --header-height: 4rem;

  --max-page-width: 120rem;

  --color-navigation: rgb(0, 82, 96); /* Vann */

  --color-primary-10: rgb(236, 237, 242);
  --color-primary-20: rgb(217, 218, 230);
  --color-primary-30: rgb(198, 200, 217);
  --color-primary-40: rgb(179, 181, 205);
  --color-primary-50: rgb(160, 163, 192);
  --color-primary-60: rgb(141, 144, 179);
  --color-primary-70: rgb(122, 126, 167);
  --color-primary-80: rgb(103, 107, 154);
  --color-primary-90: rgb(84, 89, 142);
  --color-primary: rgb(65, 70, 129); /* Blåveis */
  --color-secondary-10: rgb(239, 234, 239);
  --color-secondary-20: rgb(222, 213, 223);
  --color-secondary-30: rgb(206, 192, 208);
  --color-secondary-40: rgb(189, 171, 192);
  --color-secondary-50: rgb(173, 151, 176);
  --color-secondary-60: rgb(156, 130, 160);
  --color-secondary-70: rgb(140, 109, 144);
  --color-secondary-80: rgb(123, 88, 129);
  --color-secondary-90: rgb(107, 67, 113);
  --color-secondary: rgb(90, 46, 97); /* Plomme */

  --color-danger: #b7173d; /* Nype */
  --color-danger-70: #cd5d77;
  --color-danger-80: #c54564;

  --color-warning: #bc7726; /* Siv */
  --color-warning-20: #f2e4d4;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-family), serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

a > .material-symbols-outlined {
  vertical-align: text-bottom;
}